.btn {
  align-items: center;
  border: none;
  background: transparent;
  display: flex;
  gap: 8px;
  padding: 8px;
  text-transform: uppercase;
}

.light {
  color: #fff;
}

.dark {
  color: #697c9a;
}
