/* INFO BOX */
.info-box {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

/* InfoBox Left */
.info-box__left {
  padding: 16px;
}

/* InfoBox Right */
.info-box__right {
  flex-grow: 1;
  padding: 16px;
}

/* User Primary Info */
.user-primary-info__avatar {
  display: none;
}

.user-primary-info__data {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.user-primary-info__left > p {
  color: #0079ff;
}

/* User Secondary Info */
.user-secondary-info {
  margin-bottom: 24px;
}

.user-secondary-info__description {
  margin-bottom: 24px;
}

.user-secondary-info__statistics {
  background: #f6f8ff;
  border-radius: 15px;
  display: flex;
  padding: 24px;
}

.user-secondary-info__statistics > div {
  flex-grow: 1;
}

/* Contact Info */
.contact-info {
  display: flex;
  flex-wrap: wrap;
}

.contact-info > div {
  display: flex;
  gap: 16px;
  padding: 16px 0;
  width: 50%;
}

.contact-info > div > img {
  height: 20px;
}

/* Avatar */
.avatar-container {
  border-radius: 50%;
  overflow: hidden;
  height: 117px;
  width: 117px;
}

.avatar-container img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .info-box__left {
    display: none;
  }

  .user-primary-info {
    display: flex;
    margin-bottom: 24px;
  }

  .user-primary-info__avatar {
    display: block;
  }

  .user-primary-info__data {
    flex-direction: column;
    margin-left: 24px;
  }
}

@media screen and (max-width: 375px) {
  .contact-info > div {
    width: 100%;
  }

  .avatar-container {
    height: 70px;
    width: 70px;
  }

  .user-secondary-info__statistics > div > h2,
  .user-secondary-info__statistics > div > h4 {
    text-align: center;
  }
}
