.container {
  max-width: 1170px;
  margin: 48px auto 0;
  height: 300px;
}
.devfinder {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 16px;
}

.devfinder > header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header__title--light {
  color: #fff;
}
