/* GENERAL */
* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f8ff;
}

/* Fonts */
h1 {
  font-size: 26px;
  line-height: 38px;
}

h2 {
  font-size: 22px;
  line-height: 33px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}
h4 {
  font-size: 13px;
  line-height: 20px;
}
